.App {
  text-align: left;
      padding: 24px 160px !important;
    background-color: #F1F1F1 !important;

}


.plus3 {
  display: flex;
  justify-content: space-between;
}
.ske1 {
  display: flex;
  justify-content: space-between;
}

.text1 {
    margin-right: 200px;
    padding: 2px;
}

.point {
  opacity: 0%;
  padding: 5px;
}

.min12 {
  padding: 10px;
}

.author {
  padding: 5px;
}

.skeleton {
opacity: 200%;
}

.button1 {
background-color:#081E341F;
border:0;
color: black;
cursor:pointer;
border-radius: 100px;
padding: 6px 16px 6px 16px;
}

.skelet {
  padding: 10px;
  margin-left: -5%;
}

.threat {
  margin-top: -1%;
}

.but1 {
  padding-bottom: 5%;
  margin-top: 5%;
}